<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" ng-model="hotel.nome" class="form-control" id="nome" placeholder="Nome do Hotel"/>
  </div>
</div>
<div class="form-group">
  <label for="year" class="col-sm-2 control-label">Descrição</label>
  <div class="col-sm-10">
    <input type="text" ng-model="hotel.descricao" class="form-control" id="descricao" placeholder="Breve descritivo sobre o Hotel."/>
  </div>
</div>
<div class="form-group">
  <label for="director" class="col-sm-2 control-label">Endereço</label>
  <div class="col-sm-10">
    <input type="text" ng-model="hotel.endereco" class="form-control" id="endereco" placeholder="Qual o endereço do Hotel?"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>